 .hr{
    width: 80%;
    margin-left: 10%;
} 
.bike-1{
    width: 30%;
}
.bike-3{
    width: 30%;
}
.bike-2{
    width: 25%;
}
.faq{
    padding-left: 100%;
}
/* .phone{
margin-left: 75%;
padding-bottom: ;
} 
.logo{
    padding-left: 50%;
} */
.and{
    width: 40%;
}